
## Examples

{% for group in examples.groups %}
### {{ group.group_name }}

{% set capped_entries = group.entries[:group.max_entries] if group.max_entries else group.entries %}
{% for entry in capped_entries %}
{% if group.display_headings %}
#### {{ entry.heading }}

{% endif %}
{{ entry.text }}

{% endfor %}
{% endfor %}
